body{
  font-family:'Times New Roman', Times, serif;
  font-size: 150%;
}
header {
  background-color: goldenrod;
}
nav {
  background-color: blue;
  text-align: center;
}
nav a{
  color: goldenrod;
}
main {
  background-color: goldenrod;
  font-size: 100%;
}
footer {
  background-color: goldenrod;
}
li {
  display: inline-block;
  width:25%;
  margin-right: 15px;
}
h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: blue;
}
p {
  line-height: 1.6;
}
main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
img {
  display:block;
  margin-left:auto;
  margin-right: auto;
  width: 45%;
}
